.CardsHolder {
  font-family: 'Montserrat';
  font-size: large;
  margin-top: 10%;
  line-height: 2;
  background-color: white;
}

.Navlink {
  color: #0f3460;
  font-size: medium;
  background-color: #66bfbf;
  text-decoration: none;
  width: 100%;
  padding: 10px 10px;
  transition-duration: 0.3s;
  transition-property: all;
}

.Navlink:hover {
  font-size: large;
  width: 85px;
  height: 40px;
}
