.Logo {
  height: 80%;
  display: flex;
  padding: 0px 25px;
}

.Logo img {
  height: 100%;
  cursor: pointer;
}

.Logo p {
  margin: auto;
  padding-left: 5px;
  color: #0f3460;
  font-family: 'Sacramento', cursive;
  font-size: x-large;
  font-weight: bolder;
  cursor: pointer;
}
